@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  /* we universally add this so that if we add padding or 
  border onto an element, it won't affect the width of it*/
  box-sizing: border-box;
}

body {
  background-color: rgb(56, 61, 66);
  font-family: roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
