@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  /* we universally add this so that if we add padding or 
  border onto an element, it won't affect the width of it*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #999;
  font-family: "Open Sans", sans-serif;
  color: #222;
  padding-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: url("https://images.unsplash.com/photo-1605379399642-870262d3d051?q=80&w=2106&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
}
